<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TurismoGo"
        tools:targetApi="31">
        <activity
            android:name=".usecases.policies.PrivacyPoliciesActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.policies.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.register.RegisterSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.register.RegisterBusinessActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.register.RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.recover.RecoverUserActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.launch.LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>