<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- region  NORMAL Permissions -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- endregion -->
    <!-- region Permissions New Devices -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- endregion -->
    <!-- region Permission Old Devices -->
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TurismoGo"
        tools:targetApi="31">
        <activity
            android:name=".usecases.business.profile.BusinessEditActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".usecases.user.profile.EditUserActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".usecases.user.dashboard.reservations.UserReservationsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.user.dashboard.reviews.UserEvaluateEventActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.user.events.details.UserEventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.business.panel.edit_events.AdminEditEventsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".usecases.business.panel.create_events.AdminEventsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".usecases.business.home.HomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.register.RegisterSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.register.RegisterBusinessActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".usecases.register.RegisterUserActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".usecases.recover.RecoverUserActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.user.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>